body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.numbers {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.finding_number h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    text-shadow:0 0 15px  rgb(235, 241, 241), 0 0 30px  rgb(235, 236, 236);
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input_one input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid white;
    background-color: #333;
    color: white;
    border-radius: 5px;
    outline: none;
}

.input_button,
.restart_button {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid white;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input_button:hover,
.output_box:hover {
    background-color: #555;
}


.output_container{
    background: black;
    border: 1px solid transparent;
    padding: 20px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }

  .btn {
    border: 0;
    background-color: #fff;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    color:  black;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn:focus {
    outline: 0;
  }


.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.screen h1{
    text-shadow:0 0 15px  rgb(235, 241, 241), 0 0 30px  rgb(235, 236, 236);
}

.screen.up {
  margin-top: -100vh;
}

.container_h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.container_span{
    font-size: 25px;
    display: flex;
    font-weight: 600;
    justify-content: center;
}